.square {
  border-radius: 0px;
}

.jumbotron {
  background-image: linear-gradient(to right, #ff0000, #ff9900);
  color: #fff;
  padding: 5rem;
}

.pointer {
  cursor: pointer;
}

svg {
  vertical-align: baseline;
}

.search-bar-item {
  background-color: #001529;
  cursor: default;
}

.search-bar-item:hover {
  background-color: #001529 !important;
}

.search-bar {
  border-radius: 9999em !important;
}

.home-page-background {
  background-image: url("../wallpaper.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0% 15%;
  padding: 8rem 15rem;
}

.home-page-title {
  position: relative;
  right: 12%;
  width: 50%;
}
