.square {
  border-radius: 0px;
}

.jumbotron {
  background-image: linear-gradient(to right, #ff0000, #ff9900);
  color: #fff;
  padding: 50px;
}

.pointer {
  cursor: pointer;
}

svg {
  vertical-align: baseline;
}

.search-bar-item {
  background-color: #001529;
  cursor: default;
}

.search-bar-item:hover {
  background-color: #001529 !important;
}

.search-bar {
  border-radius: 9999em !important;
}
