.square {
  border-radius: 0px;
}

.jumbotron {
  background-image: linear-gradient(to right, #ff5f6d, #ffc371);
  color: #fff;
  padding: 5rem;
}

.pointer {
  cursor: pointer;
}

svg {
  vertical-align: baseline;
}

.search-bar-item {
  background-color: #001529;
  cursor: default;
}

.search-bar-item:hover {
  background-color: #001529 !important;
}

.search-bar {
  border-radius: 9999em !important;
}

.home-page-background {
  background-image: url("../wallpaper.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0% 15%;
  padding: 8rem 15rem;
}

@media only screen and (max-width: 500px) {
  .home-page-background {
    background-image: linear-gradient(to right, #ff5f6d, #ffc371);
    background-size: contain;
    padding: 2rem 3rem;
  }
}

@media only screen and (min-width: 500px) {
  .home-page-title {
    position: relative;
    right: 12%;
    width: 50%;
  }
}

.clickable-icon {
  display: inline-block;
  padding: 0.5em 0.6em;
}

.clickable-icon:hover {
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  background-color: lightgrey;
}

.credit-card-icon {
  position: relative;
  bottom: 20%;
  left: 2.5%;
}

.footer {
  padding: 1rem 0 2rem 1rem;
  background-color: #001529;
  color: white;
  margin-top: auto;
}

.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.instructor-course-view-header {
  background-image: linear-gradient(to right, #ff5f6d, #ffc371);
  padding: 4rem 4rem;
}

.own-message {
  color: #236af0;
}

.other-message {
  color: #9c4a29;
}
